<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalog Item App - Add Caregory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/items_style.css')}}" />
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            <strong> {{message}}</strong>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Item Catalog</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/catalog">Categories</a></li>
          <li><a href="#">History</a></li>
        </ul>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not user_id %}
                <li><a href="{{url_for('user_login')}}">Login</a></li>
                {% else %}
                <li><a href="{{url_for('user_logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>
    </header>
    <section class="container">
        <section class="category">
            <img class="category-icon" src="{{url_for('static', filename='img/add.png')}}" alt="Add category icon"/>
            <article class="new_category_form">
                <h1 class="description-title">Add new category</h1>
                <form action="/add_category" method="POST" enctype="multipart/form-data">
                    <input name="category_name" type="text" placeholder="Category Name"/>
                    <input name="category_file" type="file"/>
                    <input name="description" type="text" placeholder="Category Description"/>
                    <button type="submit" >Add</button>
                </form>
            </article>
        </section>
    </section>
</body>
</html>
